<ion-card>
  <ion-card-header>
    <ion-card-title>Array Input</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Rows:  </ion-label>
        <ion-input type="number" formControlName="rows"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cols:  </ion-label>
        <ion-input type="number" formControlName="cols"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Randomize</ion-label>
        <ion-checkbox formControlName="randomize"></ion-checkbox>
      </ion-item>
      <ion-button expand="full" (click)="onGenerate()">Generate</ion-button>

      <div formArrayName="array" *ngIf="array.controls.length > 0">
        <div *ngFor="let row of array.value; let i = index">
          <div [formGroupName]="i">
            <ion-item *ngFor="let control of row; let j = index">
              <ion-input type="number" [formControlName]="j"></ion-input>
            </ion-item>
          </div>
        </div>
      </div>     

      <ion-button expand="full" type="submit" [disabled]="!form.valid">Submit</ion-button>
    </form>
  </ion-card-content>
</ion-card>
